fieldset{
    margin: 25%;
    background-color: rgba(0, 0, 0, 0.438);
}


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url(54czLf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  color: rgb(229, 236, 236);
}
#enviar{
    float: right;
    
}
